.calendar{
    width: 70%;
    margin: 10px auto 0 auto;
}

@media only screen and (max-width: 600px) {

    .p-grid{
        display: block;
    }

    .dialog{
        width: 100%;
    }

    .p-card{
        width: 90%;
        padding: 2px;
        margin: 2%;
    }
}

@media only screen and (min-width: 601px) {

    .dialog{
        width: 50%;
        min-width: 600px;
    }

    .p-grid{
        margin: auto;
        display: flex;
    }

    .p-card{
        width: 45%;
        margin: 4px;
        padding: 2px;
    }


    .activity-card{
        width: 94%;
    }
}

